// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Bootstrap
@import 'bootstrap/dist/css/bootstrap.css';

body, html {
    height: 100%;
    margin: 0;
}

.coming-soon-bg {
    height: 100vh;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    flex-direction: column;
}

h1 {
    font-size: 3rem;
    font-weight: bold;
}

p {
    font-size: 1.2rem;
}